@media screen and (max-width:855px) {
    /* header section starts here */
    .header-text-container{
        min-width: 100%;
    }
.nav-desktop{display: none;}
.nav-mobile{display: flex;}
.header-banner-section{
    padding: 120px 0 30px 0;
    background-position: center;}

   /*header section starts ends  */


   /*about us section starts starts  */

   .aboutus-container {
    justify-content: center;
   }

   .about-text-holder{
    min-width: 100%;
    margin: 20px 0;
   }

   .about-image-holder{

       min-width: 95%;
        margin: 20px 0;
   }

   /*about us section  ends here  */



   /*explore section  starts here  */
   .explorefoods-cards{
    margin: 20px 0;
   }
   /*explore section  ends here  */



   /* Faq section starts here */
   .faq-items{
       min-width: 100%;
   }
   
   
   /* Faq section ends here */


   /* cta section starts here */
   .cta-showcase{
    flex-direction: column;
    text-align: center;
    padding: 0 20px;
   }

   .cta-notice{
    padding: 30px 20px;
   }
   /* cta section ends here */


   /* footer section starts here */
footer{
   flex-direction: column;
   padding: 20px;
   padding: 20px;
   text-align: center;}

   .footer-icon-holder{ margin: 15px 0;}

   /* footer section ends here */


}